้้html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Prompt";
  /* clear: both; */
}
.pageA-grid {
  margin: 0;
  padding: 0;
  display: grid;
  height: auto;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  grid-gap: 5px;
}

.grid-items3 {
  /* border: 5px solid rgb(248, 240, 240); */
  height: 100%;
  width: 100%;
  background-color: rgb(248, 242, 242);
}
/* PageAversion2 */
.colorback {
  background-color: rgb(240, 233, 233);
}
.welcome {
  font-family: "Prompt";
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 25px;
  outline: none;
  color: #444344;
}
.DateHeader {
  font-family: "Prompt";
  padding-left: 1rem;
  color: #02bc77;
}
.MessageHeader {
  height: 60px;
  /* margin-top: 5px; */
  font-family: "Prompt";
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  background: linear-gradient(133.32deg, #5ec1d4, hsla(0, 0%, 100%, 0)), #c2e9fb;
  display: flex;
  justify-content: center;
}

.SelectCommunity {
  font-family: "Prompt";
  font-size: 20px;
  align-items: none;
  padding: 1em;
  /* border-style: solid; */
  color: #444344;
  margin-right: 500px;
}
.logoKU {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.CommunityName {
  font-family: "Prompt";
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
.BoxPageA {
  height: 100vh;
  width: 100vw;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(240, 233, 233);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  display: flex;
  /* float: right; */
  /* justify-content: center; */
  background-color: #fdfdfd;
}
.Inbox {
  background-color: rgb(241, 228, 228);
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.897);
}
.buttonCom {
  height: 70px;
  width: 600px;
  margin: 0.2em;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 2px;
  color: #ffffff;
  background: #095331d5;
  border: none;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(16, 59, 12, 0.815);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.buttonCom::before {
  border: 6px solid #92e978;
  box-shadow: 0 0 60px rgba(16, 245, 35, 0.925);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.buttonCom:hover,
.buttonCom:focus {
  color: #8eeb72;
  transform: translateY(-7px);
  border-radius: 10px;
}

.buttonCom:hover::before,
.buttonCom:focus::before {
  opacity: 1;
  border-radius: 10px;
}
.buttonCom:hover::after,
.buttonCom:focus::after {
  animation: none;
  display: none;
}

/* Userscreen */

.navv {
  background-color: lawngreen;
  width: 100%;
  height: 500px;
}

.navbar-custom {
  height: 80px;
  background-color: rgba(24, 28, 33, 0.9);
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 10px 0px #000;
}

.logo-ku-userpage {
  margin-left: 6px;
  cursor: pointer;
}

.backAdmin {
  background-color: #0badab46;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(58, 59, 59, 0.425);
  cursor: pointer;
  height: 50%;
  -webkit-border-radius: 4px;
}

/*                PageBversion2                          */
.BoxUser {
  width: 900px;
  height: 100px;
  background: linear-gradient(133.32deg, #afb8ad, hsla(54, 41%, 81%, 0.925)),
    #c9cce7;
  border-radius: 10px;
  cursor: pointer;
  /* margin-left: 325px; */

  margin-top: 20px;
}
.version2 {
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.effect {
  height: 100%;
  background-color: #03a96b;
  width: 10px;
  /* margin-right:px; */
}
.CommunityV2 {
  font-size: 30px;
  color: #010803;
  text-align: center;
  font-family: "Prompt";
  margin: 0 auto;
  font-weight: 500;
  display: flex;
  margin-left: 20px;
  /* flex-direction: column; */
  /* justify-items: flex-start; */
}

.z {
  display: flex;
  height: 100%;
}
.ZoneNumber {
  width: 70px;
  height: 100%;
  border-radius: 10px;
  background-color: #0b6069;
  font-family: "Prompt";
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #dbd8d8;
  text-align: center;
  align-items: center;
  font-weight: 600;
}
.ZoneQuestion {
  margin-left: 10px;
  /* margin-top: 20px; */
  width: 500px;
  height: 100% inherit;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}
.ZoneButton {
  margin-left: 10px;
  width: 250px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.B1 {
  background-color: #4b4646;
  /* background-color: #03a96b; */
  color: #e4e6e5;
  border-radius: 10px;
  border-style: none;
  width: 120px;
  height: 60px;
  font-family: "kanit", sans-serif;
}
.B1:hover {
  background-color: rgba(0, 0, 0, 0.664);
  transform: translateY(-7px);

  transition: all 0.3s ease-in-out 0s;
}
.iconB {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.B2 {
  background-color: #4ebd6a;
  margin-left: 10px;
  color: #e4e6e5;
  border-radius: 10px;
  border-style: none;
  width: 120px;
  height: 60px;
  font-family: "kanit", sans-serif;
}
.B2:hover {
  background-color: #f5f3f3f5;
  transform: translateY(-7px);
  transition: all 0.3s ease-in-out 0s;

  color: #161817;
}

.nameCV2 {
  font-family: "Prompt";
  font-size: 18px;
  color: #dee6df;
  background-color: #03a96b;
  width: 200px;
  height: 30px;
  align-items: center;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 8px;
}
.itemQ {
  font-family: "Prompt";
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  /* max-height: 25vh; */
}
.desc {
  font-family: "Prompt";
  font-size: 20px;
  padding-left: 20px;
}
/* .Answer {
  width: 400px;
  height: 35px;
  margin-left: 28px;
  box-shadow: 4px 4px 4px rgb(66, 66, 63);
  font-family: "Prompt";
  font-size: 15px;
  color: #000000;
  border-style: none;
  text-align: center;
} */
.newAnswer {
  text-align: center;
}
.Answer.B1:hover {
  border-style: none;
}
.TextareaModalText {
  height: 150px;
  width: 400px;
  margin-top: 10px;
  margin-left: 28px;
  background-color: rgb(179, 238, 151);
  color: rgb(66, 61, 61);
  font-family: "Prompt";
  border-style: none;
  padding: 0.5em;
  box-shadow: 4px 4px 4px rgb(66, 66, 63);
}
.headpopup {
  font-family: "kanit", sans-serif;
  color: #006765;
}
.SizeModal {
  flex-direction: column;
}
.MDT {
  width: 80px;
  margin-left: 8px;
  font-family: "kanit", sans-serif;
  margin-right: none;
}
.MDTT {
  font-family: "kanit", sans-serif;
  width: 80px;
}
.ZoneHead {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.BackHome {
  width: 130px;
  height: 30px;
  font-family: "Prompt";
  border-radius: 2px;
  color: rgb(92, 87, 87);
  margin-right: 30px;
  margin-top: 10px;
  border: 1px solid;
  border-color: rgb(150, 141, 141);
  justify-content: flex-end;
  display: flex;
  align-items: center;

  /* position: static; */
}
.BackHome:hover {
  font-family: "Prompt";
  border-radius: 2px;
  color: rgb(0, 0, 0);
  background-color: rgba(188, 194, 188, 0.925);
}

/*                 RESPONSIVE                             */
@media (max-width: 480px) {
  .pageA-grid {
    flex-direction: column;
    text-align: center;
  }

  /* PAGE A */
  .BoxPageA {
    width: 100vw;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(240, 233, 233);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #fdfdfd;
    float: left;
  }
  .Box2PageA {
    width: 410px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #fdfdfd;
  }
  .SelectCommunity {
    margin: 0;
    font-size: 15px;
  }
  .wrapButton {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .buttonCom {
    margin: 0.2em;
    width: 250px;
    height: 60px;
    letter-spacing: 2px;
  }
  .CommunityName {
    font-family: "kanit", sans-serif;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    background-color: none;
    border-radius: 20px;
  }
  /* PageBversion2 */

  .version2 {
    max-height: 100hv;
  }
  .ZoneHead {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .BackHome {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 30px;
  }
  .BoxUser {
    width: 340px;
    height: 200px;
    margin-right: 7px;
  }
  .nameCV2 {
    font-size: 18px;
    border-radius: 8px;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
  }
  .CommunityV2 {
    /* position: absolute; */
    width: 340px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    /* margin: 0 auto; */
  }
  .ZoneNumber {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-family: "Prompt";
    font-size: 25px;
    font-weight: 700;
  }
  .ZoneQuestion {
    width: 300px;
    position: absolute;
    margin-top: 40px;
    height: 10vh;
  }
  .itemQ {
    font-size: 18px;
  }
  .ZoneButton {
    width: 250px;
    height: 60px;
    margin-top: 130px;
    position: absolute;
    margin-left: 50px;
  }
  .Answer {
    width: 300px;
    height: 25px;
    font-size: 15px;
    color: #000000;
    border-style: none;
  }
  .btn-info {
    /*ปุ่ม บันทึก*/
    position: absolute;
    width: 85px;
    margin-left: 1px;
  }
  .btn-light {
    /*ย้อนกลับ*/
    position: none;
    margin-left: 100px;
  }
  /* Modal  */
  .TextareaModalText {
    height: 150px;
    width: 300px;
    margin-left: 28px;
    background-color: rgb(179, 238, 151);
    color: rgb(66, 61, 61);
    font-family: "kanit", sans-serif;
    border-style: none;
    padding: 0.5em;
    clear: both;
    justify-content: center;
  }
}
@media (min-width: 600px) {
  .SelectCommunity {
    width: 400px;
    margin: 0;
  }
  .BoxUser {
    width: 700px;
    height: 100px;
    background-color: #6b6e6b8f;
    border-radius: 10px;
    cursor: pointer;

    margin-top: 20px;
  }
  .B1 {
    width: 90px;
    height: 60px;
  }

  .B2 {
    width: 80px;
    height: 60px;
  }
}
@media (min-width: 1030px) {
  .BoxUser {
    width: 900px;
    height: 100px;
    background-color: #6b6e6b8f;
    border-radius: 10px;
    cursor: pointer;
    /* margin-left: 325px; */
    margin-top: 20px;
  }
  .B1 {
    width: 120px;
    height: 60px;
  }
  .B2 {
    width: 120px;
    height: 60px;
  }
}
